

  @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;500&family=Roboto:wght@100;300&display=swap');


tr, td, th {
    border: solid rgb(255, 255, 255) 1px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}


.ptable {
    width: 580px;
    border: solid rgb(255, 255, 255) 1px;
    
}
#forTable {
    display: none;
}


body {
    background-image: url("home.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color:rgba(54, 84, 109, 0.9);
    background-attachment: fixed;
    
}

#container {
    background-color: #5450507b; 
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 600px;
    border-radius: 10px;
    color: white;
    margin: 1rem;
    
    }
    
    form {
        display: flex;
        flex-direction: column;
        font-family: 'Comfortaa', cursive;
        margin: 5px;
        padding: 5px;
    }

    h1 {
        font-family: 'Roboto Condensed', sans-serif;
        color: #e7f042;
        align-self: center;
        font-size: 40px;
       font-weight: 500;
        
    }

    input {
        font-family: 'Roboto', sans-serif;
        padding: 5px;
        border-radius: 5px;
    }

    #calculateMortgage, .btn {
        background-color:#e7f042;
        color: #193146; 
        font-weight: bolder;
        border: none;
        border-radius: 0.25rem;
        padding: 0.5rem;
        font-family: 'Roboto Condensed', sans-serif;
        margin-left: 1rem;
        font-size: 1rem;
        
        }
        
    #showPayments  {
        margin-bottom: 1rem;
    }  


    li, legend, label {
        color: white;
        font-family: 'Roboto', sans-serif;
    }

    fieldset{
        border: none;
    }
    p {
        margin-left: 1rem;
        font-family: 'Roboto', sans-serif;
    }

    @media all and (max-width: 600px){
        body {
            background-position: top center;
            padding: 10px;
            background-attachment: scroll;
        }
        
        .ptable {
            width: 100%;
            overflow: auto;
        }
        #container {
            width: 100%;
            margin: 0;
            padding: 5px;
        }
        
        #total, #container {
            width: 100%;
            margin-left: 0;
        }
        
    }